div.notice {
  border-bottom: #ddd 1px solid;
  padding: 5px 10px;
}

div.notice div.date {
  float: right;
  color: #268efd;
  padding: 0px 0px 0px 5px;
}

ul.notice-links {
  text-align: right;
}

div.notice-view ul.notice-links {
  display: block;
}

ul.notice-links li {
  display: inline;
}

ul.notice-links li a {
  display: inline;
  padding-left: 10px;
}

ul.notices-links li {
  display: inline;
}

div.notice div.picture {
  float: left;
  padding: 10px 15px 0px 5px;
}

div.notice div.picture img {
  height: 48px;
  width: 48px;
}

div.notice span.new {
  display: inline;
  padding: 0px 5px;
  margin-right: 10px;
  margin-top: 4px;
  background-color: red;
  color: white;
  float: left;
  font-size: x-small;
}

div.notice div.message {
  min-height: 121px;
  margin-left: 67px;
}

ul.notice-links li a.notice-remove {
  padding-left: 22px;
  background: url('icons/cross.png') no-repeat 3px 0px;
}

ul.notice-links li a.notice-mark-read {
  padding-left: 22px;
  background: url('icons/folder-stamp.png') no-repeat 3px 0px;
}

ul.notice-links li a.notice-read-more {
  padding-left: 22px;
  background: url('icons/folder-open-document.png') no-repeat 3px 0px;
}
